* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* Center Content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    position: relative;
    display: inline-block;
}

/* Form Styling */
.credit-card-form {
    display: grid;
    gap: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Card Styles */
.card {
    width: 320px;
    border-radius: 10px;
    background: #ddd;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    gap: 10px;
}

.card-front {
    position: relative top: 10px;
    left: 10px;
    z-index: 2;
    padding: 30px;
    padding-top: 50px;
}

.card-back {
    position: absolute;
    padding-top: 20px;
    top: 40px;
    left: 100px;
    background: #bbb;
    z-index: 1;
    height: 250px;
}

/* Black Strip */
.black-strip {
    width: 100%;
    height: 35px;
    background: black;
}

/* Input Fields */
input {
    width: 100%;
    padding: 5px;
    padding-top: 6px;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 14px;
}

label {
    font-size: 14px;
    margin-bottom: 3px;
    display: block;
}

/* Expiration Fields */
.expiration {
    display: flex;
    gap: 5px;
    width: 50%;
}

.expiration input {
    width: 45px;
}

/* Button */
button {
    padding: 10px;
    border: 1px solid black;
    background: ddd;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 25rem;
    margin-left: 30px;
}

.card-image {
    position: absolute;
    top: 35px;
    right: 30px;
    width: 60px;

}

.cvc-container {
    position: absolute;
    right: 10px;
    bottom: 2rem;
    width: 75px;
}

.cvc {
    width: 60px;
}

.card-holder {
    width: 200px;
    grid: flex;
    display: inline-block;
}

.bottom-line {
    display: inline-flex;
}

.card-front,
.card-back {
    width: 390px;
    height: 250px;
    border-radius: 6px;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.exp-container {
    margin-left: 20px;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.card-number{
    padding-top: 20px;

}