@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, san-serif;
}

nav {
    font-family: var(--secondary-font);
    color: var(--text-light);
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    color: var(--text-dark);
    margin: 0;
    padding: 0;

}

h1,
h3 {
    font-family: var(--secondary-font);
    color: var(--text-light);
    align-items: center;
}

h4 {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 3 rem;
    font-size: 3rem;
}

a {
    color: var(--text-light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul li a:hover {
    color: var(--text-dark);
}

a:visited {
    color: var(--text-light);
    text-decoration: underline;
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1em;
}

.frame {
    max-width: 100%;
    object-fit: cover;
    height: 250px;
    width: 250px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    border: 10px solid #000;
    padding: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: auto 1fr;  /* First row for the button, second for the image */
    z-index: 10;
    align-items: center;
    justify-items: center;
}

.viewer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.close-viewer {
    position: absolute;
    color: white;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    align-self: start;
    justify-self: end;
    margin: 20px;
    z-index: 11;
}

.hidden {
    display: none;
}

nav {
    padding: 10px;
    border-radius: 8px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

button {
    font: var(--secondary-font);
    color: var(--text-light);
    all: unset;

}














@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .drop-down {
        display: none;
    }

    .drop-down.open {
        display: block;
    }

    button:hover {
        color: var(--text-dark);

    }

}

@media screen and (min-width: 1200px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav-menu-btn {
        display: none;
    }

    nav ul {
        display: flex;
        color: var(--text-light);
        list-style-type: none;
        gap: 3rem;
    }

    .drop-down {
        display: inline-flex;
        color: var(--text-light);
    }
}