body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    color: #473144;
    background-color: #FAF8F5;
}

header {
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin-bottom: 3rem;
}

nav ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: end;
    justify-items: end;
    gap: 20px;
    border-top: 1px solid #EFC69B;
    border-bottom: 1px solid #EFC69B;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #AF1B3F;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.articles {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

article {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.article-details {
    flex: 1;
    text-align: right;
    font-size: 14px;
    color: #473144;
    border-right: 1px solid #EFC69B;
    padding-right: 1rem;
}

.article-content {
    flex: 3;
}

.article-content h2 {
    color: #AF1B3F;
    font-size: 20px;
    font-weight: bold;
}

.article-content img {
    max-width: 150px;
    height: auto;
    display: block;
    margin-top: 10px;
}

.filters {
    flex: 1;
    text-align: right;
    font-size: 14px;
    color: #5A1F1F;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.skiptocontent a {
	position: absolute;
	left: -9999px;
	top: 0;
	background-color: #ff0;
}

.skiptocontent a:focus {
	left: 0;
}